<!-- <ngx-wheel width='600' height='600' spinDuration='8' [disableSpinOnClick]='true'
  [items]='this.listOfParticipantsWithColors' [innerRadius]='50' [spinAmount]='10' [textOrientation]='textOrientation'
  [textAlignment]='textAlignment' pointerStrokeColor='#66806a' pointerFillColor='rgba(255, 194, 134, 1)'
  (onSpinStart)='before()' (onSpinComplete)='after()' [idToLandOn]='3'>
</ngx-wheel> -->

<ngx-wheel #wheel width='500' height='500' spinDuration='8' [disableSpinOnClick]='true'
  [items]='this.listOfParticipantsWithColors' [innerRadius]='50' [spinAmount]='50' [textOrientation]='textOrientation'
  [textAlignment]='textAlignment' pointerStrokeColor='#66806a' pointerFillColor='rgba(255, 194, 134, 1)'
  [idToLandOn]='idToLandOn' (onSpinStart)='before()' (onSpinComplete)='after()'></ngx-wheel>

<div>
  <button class="button prize-button" (click)="spin()">Prize Random</button>
</div>

<div>
  <button class="button reset-button" (click)="reset()">Reset</button>
</div>
