.container{
  min-height: 400px;
}
.middle_background {
  background-color: rgba(180, 198, 166, 1);
}
.merry-christmas-first {
  width: auto;
  height: 150px;
}
.winning-first {
  width: auto;
  height: 150px;
}
.merry-christmas-second {
  width: auto;
  height: 150px;
}
.winning-second {
  width: auto;
  height: 150px;
}
.merry-christmas-third {
  width: auto;
  height: 150px;
}
.winning-cup-first {
  width: auto;
  height: 150px;
}

.merry-christmas-fourth {
  width: auto;
  height: 150px;
}

.merry-christmas-fifth {
  width: auto;
  height: 150px;
}

.winning-women-exited {
  width: auto;
  height: 250px;
  position: absolute;
  right: 30%;
  bottom: 25px;
}

/* <img class="merry-christmas-first" src="assets/images/card-first.png">
<img class="winning-first" src="assets/images/welcome-winner-first.png">
<img class="merry-christmas-second" src="assets/images/card-second.png">
<img class="winning-second" src="assets/images/welcome-winner-second.png">
<img class="merry-christmas-third" src="assets/images/card-third.png">
<img class="winning-cup-first" src="assets/images/winner-cup.png">
<img class="merry-christmas-fourth" src="assets/images/card-fourth.png">
<img class="winning-women-exited" src="assets/images/excited-women.png">
<img class="merry-christmas-fiveth" src="assets/images/card-fifth.png"> */
