
<!-- <div class="middle_background">
  <img class="card_first" src="assets/images/card-first.png">
  <img class="card_second" src="assets/images/card-second.png">
  <img class="welcome_winner_first" src="assets/images/welcome-winner-first.png">
  <img class="card_third" src="assets/images/card-third.png">
  <img class="card_fourth" src="assets/images/card-fourth.png">
  <img class="card_fifth" src="assets/images/card-fifth.png">
  <img class="welcome_winner_second" src="assets/images/welcome-winner-second.png">
</div> -->

<p>Working works!</p>
