<div class="container">
  <img class="merry-christmas-first" src="assets/images/card-first.png">
  <img class="winning-first" src="assets/images/welcome-winner-first.png">
  <img class="merry-christmas-second" src="assets/images/card-second.png">
  <img class="winning-second" src="assets/images/welcome-winner-second.png">
  <img class="merry-christmas-third" src="assets/images/card-third.png">
  <img class="winning-cup-first" src="assets/images/winner-cup.png">
  <img class="merry-christmas-fourth" src="assets/images/card-fourth.png">
  <img class="winning-women-exited" src="assets/images/excited-women.png">
</div>
