<div class="middle_background">
  <img src="assets/images/card-first.png">
  <img src="assets/images/card-second.png">
  <img src="assets/images/welcome-winner-first.png">
  <img src="assets/images/card-third.png">
  <img src="assets/images/card-fourth.png">
  <img src="assets/images/card-fifth.png">
  <img class="welcome_winner_second" src="assets/images/welcome-winner-second.png">
</div>

<!--
* PANTALLA INICIO
  * EVALUAR TAREAS PENDIENTES

* PANTALLA RIFA
  * EVALUAR TAREAS PENDIENTES

* PANTALLA GANADORES
  * EVALUAR TAREAS PENDIENTES

* PANTALLA CONFIGURACION
  * EVALUAR TAREAS PENDIENTES
-->
