#first_parent_div {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  position: absolute;
}

#second_background_div {
  filter: blur(5px);
  background-color: rgb(140, 166, 144);
  height: 850px;
  width: 320%;
  max-width: 400%;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#third_central_text_div {
  color: white;
  font-size: 45px;
}
