<div id="WelcomeInicio_Page">
  <svg class="general_background" viewBox="0 0 1920 545.113">
    <path id="general-background" d="M 0 0 L 1920 0 L 1920 545.1126708984375 L 0 545.1126708984375 L 0 0 Z">
    </path>
  </svg>
  <img id="card-first" src="assets/images/card-first.png">
  <img id="card-second" src="assets/images/card-second.png">
  <img id="card-third" src="assets/images/card-third.png">
  <img id="card-fourth" src="assets/images/card-fourth.png">
  <img id="card-fifth" src="assets/images/card-fifth.png">
  <img id="welcome-winner-first" src="assets/images/welcome-winner-first.png">
  <img id="welcome-winner-second" src="assets/images/welcome-winner-second.png">
</div>

