<div id="WelcomeInicio_Page">
  <svg class="Path_1" viewBox="0 0 1920 545.113">
    <path id="Path_1" d="M 0 0 L 1920 0 L 1920 545.1126708984375 L 0 545.1126708984375 L 0 0 Z">
    </path>
  </svg>
  <img id="Card_1" src="assets/Card_1.png">
  <img id="Card_2" src="assets/Card_2.png">
  <img id="Card_6" src="assets/Card_6.png">
  <img id="Card_5" src="assets/Card_5.png">
  <img id="Card_4" src="assets/Card_4.png">
  <img id="winner1" src="assets/winner1.png">
  <img id="winner2" src="assets/winner2.png">
</div>
