<div class="container">
  <!-- Load file module -->
  <div *ngIf="!loadFileIsVisible" class="container">
    <div id="ParticipantsAndPrize">
      <div>
        <div class="mat-elevation-z8">
          <div class="grid-panel">
            <div class="left-panel">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                [ngClass]="{'border-radius': '16px;' }">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="nice-border"> No. </th>
                  <td mat-cell *matCellDef="let participant"> {{participant.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let participant"> {{participant.name}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 5]" showFirstLastButtons aria-label="Select page of name names">
              </mat-paginator>
            </div>
            <div class="right-panel">
              <form [formGroup]="addParticipatsForm" (ngSubmit)="onSubmit()" method="post" class="center-form">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input type="text" matInput>
                </mat-form-field>
                <button mat-mini-fab color="#fffff">
                  <mat-icon>
                    add
                  </mat-icon>
                </button>
              </form>
            </div>
            <div class="bottom-options">
              <div>Load File</div>
              <div>Start</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <app-load-file
  (VisibilityEventEmitter)="onLoadFile($event)"
  [IsVisibility]='this.loadFileIsVisible'>
  </app-load-file> -->


</div>
