<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span i18n>{{tittle}}</span><br>
      <h5><span i18n>{{slogan}}</span></h5>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span><i class="fas fa-bars" style="color: rgba(255,194,134,1);"></i></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" i18n>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rifame/participants" routerLinkActive="active" i18n>Participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rifame/raffles" routerLinkActive="active" i18n>Raffles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rifame/winners" routerLinkActive="active" i18n>Winners</a>
        </li>
      </ul>
    </div>
  </div>
</nav>