<!-- Alerts -->
<!-- <div *ngIf="showSuccessAlertMessage" class="success-alert-message">
  <h4>
    <alert type='success' dismissOnTimeout="7000">
      <strong>¡Éxito!</strong> Archivo cargado correctamente.
    </alert>
  </h4>
</div>

<div *ngIf="showErrorAlertMessage" class="error-alert-message">
  <h4>
    <alert type='danger' dismissOnTimeout="7000">
      <strong>¡Error!</strong> Algo no fue bien, verifique su conexión he intente nuevamente.
    </alert>
  </h4>
</div> -->

<!-- Load file module -->
<!-- <div *ngIf="!loadFileIsVisible" class="container">
  <div id="ParticipantsAndPrize">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">Participantes</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let participant of participants">
            <tr>
              <td>{{participant.FullName}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div id="ImageParticipant">
      <img src="/assets/images/welcome-winner-first.png">
    </div>
  </div>
</div> -->

<!-- Floating button -->
<a routerLink="." (click)="removeParticipants()" class="float">
  <h2><i class="fas fa-eraser my-float"></i></h2>
</a>

<!-- Load file component -->
<!-- <app-rifame-load-file
  (VisibilityEventEmitter)="onLoadFile($event)"
  [IsVisibility]='this.loadFileIsVisible'>
</app-rifame-load-file> -->

<div class="mat-elevation-z8">
<table style="width: 25%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>
</div>
<!-- TODO: IMPLEMENT ANGULAR MATERIAL TABLE https://material.angular.io/components/table/overview -->
