<div *ngIf="showSuccessAlertMessage" class="success-alert-message">
  <h4>
    <alert type='success' dismissOnTimeout="7000">
      <strong>¡Éxito!</strong> Archivo cargado correctamente.
    </alert>
  </h4>
</div>

<div *ngIf="showErrorAlertMessage" class="error-alert-message">
  <h4>
    <alert type='danger' dismissOnTimeout="7000">
      <strong>¡Error!</strong> Algo no fue bien, verifique su conexión he intente nuevamente.
    </alert>
  </h4>
</div>


<div *ngIf="!loadFileIsVisible" class="container">
  <div id="ParticipantsAndPrize">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Participantes</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let participant of participants">
            <tr>
              <td>{{participant.FullName}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div id="ImageParticipantImage">
      <img src="/assets/images/welcome-winner-first.png">
    </div>
  </div>
</div>


<a href="javascript:alert('You clicked!')" class="float">
  <h2><i class="fas fa-eraser my-float"></i></h2>
</a>

<app-rifame-load-file (loadFileModalIsVisible)="onLoadFile($event)"
  [participantsTableAndImageIsVisibility]='this.loadFileIsVisible'>
</app-rifame-load-file>
